/*********************************************************************************/
.about_me_img {
    display: block;
    margin: auto;
    width: 33%;
}

#main{
    display: block;
    top: 0px;
}


.row .well{
    display: block;
}


