/*********************************************************************************/
/*                             about me page                                     */
/*********************************************************************************/
.about_me_img {
    display: block;
    margin: auto;
    width: 40%;
}

.ul_sidebar {
    list-style-type: none;
    padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
	color: #D5D6D2;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #D5D6D2;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

#static-content {
    color: #2F2E33;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}

#openNav {
    position: fixed;
}

.courses_list{
    text-align: left;
}

.degree{
    color: #C6D166;
}

.edu{
    border: 2px solid #16253D;
    border-radius: 10px;
    color: #16253D;
    margin: 40px 0;   
}

h1{
    color: #962715;
}

h2{
    color: #3A5199;
}

.intro{
    padding: 20px, 5px;
    border: 2px solid #ACBEBE;
    border-radius: 10px;
    color: #16253D;
    font-size: 16px;
    margin: 40px 0; 

    text-align: left;
}

.sem{
    color: #BBC3C6;
}

.work{
    border: 2px solid #1E1F26;
    border-radius: 10px;
    color: #1E1F26;
    margin: 40px 0;   
}




html body{
    background-color: #FFFFFF;
}





