/*********************************************************************************/
/*                             about me page                                     */
/*********************************************************************************/
.about_me_img {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ul_sidebar {
    list-style-type: none;
    padding: 0;
}

#sidebar-menu .main-menu a {
    display: block;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	padding: 4px 20px;
}
#sidebar-menu .main-menu a:hover {
	color: #D5D6D2;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #D5D6D2;
}

#sidebar-menu .sub-menu a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}

#static-content {
    color: #2F2E33;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    
}

#openNav {
    position: fixed;
}

body {
    padding-bottom: 20px;
}

.courses_list{
    text-align: left;
}

.degree{
    color: #C6D166;
}

.edu{
    border: 2px solid #16253D;
    border-radius: 10px;
    color: #16253D;
    margin: 40px 0;   
}

.expando{
    text-align: center;
}

h1{
    color: #962715;
    text-align: center;
}

h2{
    color: #3A5199;
}

.intro{    
    border: 2px solid #ACBEBE;
    border-radius: 10px;
    color: #16253D;
    display: inline-block;
    font-size: 16px;
    margin: 40px 0; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;   
    text-align: left;
}

.photo_cred{
    text-align: center;
    font-size: 10px;
}


.sem{
    color: #BBC3C6;
}

.work{
    border: 2px solid #A01D26;
    border-radius: 10px;
    color: #1E1F26;
    margin: 40px 0;   
    padding-right: 5px;
}

/* technical proficiencies */
.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}


html body{
    background-color: #FFFFFF;
}





