/*********************************************************************************/
/*                                  114/240 page                                     */
/*********************************************************************************/
a.announcement{
    color: #FF69B4; 
}

a.this_sem{
    color: #FFFFFF;
    font-weight: bold;
}

a.this_sem:hover {
    color: #DF744a;
}

.announcement{
    font-size: 54px;
    font-weight: 900;
    
}

.bg-1 {
    background-color: #92d7ef; /* light blue*/
    color: #FFFFFF;
}

.bg-2 {
    background-color: #F9acbb; /* pink */
}

.bg-3 {
    background-color: #a2eae0;
}

.bg-4 {
    background-color: #f0df99;
}

.bg-5 {
    background-color: #fedcd2;
}

.big_list {
    font-size: 18px;
}

.btn_114{
  border: 2px solid #3F681C;
  border-radius: 4px;
  color: #3F681C;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px;
  padding: 24px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

.container-fluid {
    padding-top: 30px;
    padding-bottom: 30px;
}

.head{
    color: #01256e;
}

.prev_sem{
    color: #DF744a;
    font-weight: bold;
}

.row .row {
    margin-top: 30px;
    margin-bottom: -30px;
}

.SP2017{
    text-align: left;
}

.subhead{
    color: #74000e;
}

.subhead_link{
    color: #f2c100;
}

.title{
    text-align: center;
}

.title_white{
    color: #FFFFFF;
    font-weight: bold;
}

.welcome{
    color: #0f7e9b;
    font-weight: 900;
}




