/*********************************************************************************/
/*                                  114 page                                     */
/*********************************************************************************/
.btn_114{
  border: 2px solid #3F681C;
  border-radius: 4px;
  color: #3F681C;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px;
  padding: 24px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%
  margin: auto;
}

.SP2017{
    text-align: left;
}

.head{
    color: #01256e;
}

.subhead{
    color: #74000e;
}

.subhead_link{
    color: #f2c100;
}

.announcement{
    font-size: 54px;
    font-weight: 900;
    
}

a.announcement{
    color: #FF69B4; 
}

.title{
    text-align: center
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

