.enter_page_photo {
  background-image: url("https://7dd2b1ae-a-946e4891-s-sites.googlegroups.com/a/sas.upenn.edu/yilunli/home/15310609_1813918152163215_1555391207_n.jpg?attachauth=ANoY7crQC3Yb52_sIBthNSBVTc4lktVsjEcv13YOYzyfQGcZIJFMhXHZYcStV3XI1w9JGGBobIGo6CNbeLyAtGGCe6QudUSCURF1TpltqRJ1zIvGD6SPNTaNQxgsK5Y7lKXvyMakukLwO-otC96samGPdKGaJCgc9c5tjklnuFDKgdQBxHl7QV5arOnuzDlcuozfwvBkTlrfx6NTCSKT3bBuoPhqpPlGCLJlrMFSTQrtOkmIVlSql4m-O01PB6Xx-yj56pNPZ1HX&attredirects=0");
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}




.header {
font-family: 'Futura', sans-serif;  
font-size: 44px;
text-align: center;
}



















.btn {
  color: #05A8AA;
  border: 1px solid #05A8AA;
  border-radius: 4px;
  font-family: 'Futura', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto;
}
