#entry_page_main {
    background: url("https://pixabay.com/get/ed3cb2072afd1c22d9584518a33219c8b66ae3d019b315499cf8c17b/philadelphia-493829_1920.jpg") no-repeat center center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;  
    font-size: 32px;
    text-align: center;
}

.about_me_img {
    display: block;
    margin: auto;
    width: 33%;
}

.toolbar{
    position: fixed;
    
    
}


.btn {
  border: 1px solid #05A8AA;
  border-radius: 4px;
  color: #05A8AA;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0px;
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
    

