/*****************************************************************************/
/*                                main page crap                             */
/*****************************************************************************/
#entry_page_main {
    background: url("love_smaller.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50%, 100%;
    font-family: 'Raleway', sans-serif; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.cover-content {
  box-sizing: border-box; 
  margin: auto;
  position: relative;
  text-align: center; 
  width: 70%;
}

h1 {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 108px;
  font-weight: 900;
  letter-spacing:1px;
  padding: 100px 10px 50px 10px;
  position: relative;
  text-align: center;
  text-shadow:
    -1px -1px 0 #375E97,
    1px -1px 0 #375E97,
    -1px 1px 0 #375E97,
    1px 1px 0 #375E97;
}

.main_btn {
  border: 6px solid #375E97;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 10px 0px;
  padding: 24px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #375E97,
    1px -1px 0 #375E97,
    -1px 1px 0 #375E97,
    1px 1px 0 #375E97;   
  width: 50%
  margin: auto;
}

/*********************************************************************************/
/*                             SIDE NAVIGATION                                   */
/*********************************************************************************/
.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
}

.sidebar_block{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    outline:none;
    white-space:normal;
    float:none;       
}






/*********************************************************************************/
/*                                  114 page                                     */
/*********************************************************************************/
.btn_114{
  border: 2px solid #3F681C;
  border-radius: 4px;
  color: #3F681C;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0px;
  padding: 24px;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%
  margin: auto;
}
 
/*********************************************************************************/
/*                             about me page                                     */
/*********************************************************************************/
.about_me_img {
    display: block;
    margin: auto;
    width: 33%;
}

.toolbar{
    position: fixed;
    
    
}














*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}










