---
layout: base.njk
title: Fun
description: Fun stuff about or related to Ivan Li
preload: true
---

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Fun</h2>
            <p>Fun stuff about or related to me!</p>
        </header>

        <div class="row">
            <!-- Content - Left Column -->
            <div class="col-6 col-12-medium">
                <section id="achievements">
                    <h2>Achievements</h2>
                    <ul class="text">
                        <li>Top 0.01% of Ariana Grande listeners in <a href="#" data-popup="spotify_wrapped_2022">2022</a> and 2023, top 0.05% in 2024, top 0.08% in 2025 <a href="https://www.last.fm/user/mehjoo">(last.fm)</a></li>
                        <li>Half marathons run: 2 (PB: 1:37:30 @ BMW Dallas 2025)</li>
                        <ul>
                            <li>Pairs of running shoes purchased in last 12 months: 3</li>
                            <li><a href="https://www.strava.com/athletes/62562630">Miles run in 2025: >1,500</a></li>
                        </ul>
                        <li>Credit card points and miles used in 2025: 2,000,000</li>
                        <ul>
                            <li>Credit card annual fees paid in 2025: $6,213</li>
                            <li>Cash value of hotels/flights redeemed w/points: $90,644</li>
                        </ul>
                        <li>Number of squishmallows owned: 85 <a href="#" data-popup="squish">(some of them)</a></li>
                        <li>Longest Snapchat streak: 3400 (and counting)</li>
                        <li>Highest upvoted reddit comment: ~1595 (in a r/NBA postgame discussion thread)</li>
                        <li>League of Legends ARAM losses: ~1800</li>
                        <li>Voted "most likely to be a millionaire" by high school class</li>
                    </ul>
                    
                    <!-- Spotify Wrapped Popup -->
                    <div id="spotify_wrapped_2022" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('spotify_wrapped_2022')">&times;</button>
                            <img src="/images/ari_wrapped_2022.JPG" alt="Spotify Wrapped 2022 - Top 0.01% Ariana Grande listener" loading="lazy" width="300" height="533">
                        </div>
                    </div>
                    
                    <!-- Squishmallow Popup -->
                    <div id="squish" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('squish')">&times;</button>
                            <img src="/images/squish.jpg" alt="My squishmallow collection" loading="lazy" width="400" height="300">
                        </div>
                    </div>
                </section>
            </div>

            <!-- Content - Right Column -->
            <div class="col-6 col-12-medium">
                <section id="opinions">
                    <h2>Unsolicited Opinions</h2>
                    <ul>
                        <li><a href="#" data-popup="popup1">Top 10 Ariana Grande Songs</a></li>
                        <li><a href="#" data-popup="popup2">Top 10 Weeknd Songs</a></li>
                        <li><a href="#" data-popup="popup3">Top 10 Taylor Swift Songs *not a Swiftie*</a></li>
                        <li><a href="#" data-popup="popup4">Top 3 basketball players of all time</a></li>
                    </ul>

                    <!-- Ari list popup -->
                    <div id="popup1" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('popup1')">&times;</button>
                            <h3>Top 10 Ariana Grande Songs *my opinion*</h3>
                            <ol class="text">
                                <li>One Last Time</li>
                                <li>everytime</li>
                                <li>eternal sunshine</li>
                                <li>God is a woman</li>
                                <li>thank u, next</li>
                                <li>no tears left to cry</li>
                                <li>goodnight n go</li>
                                <li>we can't be friends (wait for your love)</li>
                                <li>Moonlight</li>
                                <li>Into You</li>
                            </ol>

                            <h3>Honorable Mentions</h3>
                            <ul class="text">
                                <li>positions</li>
                                <li>bad idea</li>
                                <li>bloodline</li>
                                <li>Be Alright</li>
                                <li>Love Me Harder</li>
                                <li>breathin</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Abel list popup -->
                    <div id="popup2" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('popup2')">&times;</button>
                            <h3>Top 10 The Weeknd Songs *my opinion*</h3>
                            <ol class="text">
                                <li>Often</li>
                                <li>Starboy</li>
                                <li>The Hills</li>
                                <li>Wicked Games</li>
                                <li>Tears in the Rain</li>
                                <li>Tell Your Friends</li>
                                <li>Blinding Lights</li>
                                <li>Pretty</li>
                                <li>The Morning</li>
                                <li>Acquainted</li>
                            </ol>
                        </div>
                    </div>

                    <!-- Taylor list popup -->
                    <div id="popup3" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('popup3')">&times;</button>
                            <h3>Top 10 Taylor Swift Songs *my opinion* *not a Swiftie*</h3>
                            <ol class="text">
                                <li>Style</li>
                                <li>Clean</li>
                                <li>Blank Space</li>
                                <li>Cruel Summer</li>
                                <li>August</li>
                                <li>New Romantics</li>
                                <li>You Belong with Me</li>
                                <li>All Too Well (10 min)</li>
                                <li>the 1</li>
                                <li>I Wish You Would</li>
                            </ol>
                            
                            <h3>Honorable Mentions</h3>
                            <ul class="text">
                                <li>tolerate it</li>
                                <li>Lover</li>
                                <li>marjorie</li>
                                <li>Cornelia Street</li>
                                <li>'tis the damn season</li>
                            </ul>
                        </div>
                    </div>

                    <!-- NBA list popup -->
                    <div id="popup4" class="popup-container">
                        <div class="popup-content">
                            <button class="close-button" onclick="closePopup('popup4')">&times;</button>
                            <h3>Top 3 NBA players of all time *my opinion*</h3>
                            <ol class="text">
                                <li>MJ</li>
                                <li>Kobe</li>
                                <li>LeBron</li>
                            </ol>
                        </div>
                    </div>
                </section>
                <hr />
            </div>
        </div>
    </div>
</div>
